.calendar{
   .calendar-card {
      --width: 160px;

      display: block;
      position: relative;

      width: var(--width);
      height: var(--width);

      &>* {
         width: var(--width);
         height: calc(var(--width) / 2);

         font-size: 80px;
         display: grid;
         place-items: center;

         overflow: hidden;

         p {
            line-height: 80px;
            color: var(--soft-red);
         }

         transform-style: preserve-3d;
      }

      .running {
         z-index: 2;
      }

      .top {
         position: absolute;
         top: 0;
         left: 0;

         background-color: var(--very-dark-desaturated-blue);

         border-top-left-radius: 15px;
         border-top-right-radius: 15px;

         transform-origin: bottom center;

         p {
            transform: translate(0, 50%);
         }

         &.run {
            animation: flip-top 0.3s ease-in 0s 1 forwards;
            z-index: 2;
         }
      }

      .bottom {
         position: absolute;
         bottom: 0;
         left: 0;

         background-color: var(--dark-desaturated-blue);

         border-bottom-left-radius: 15px;
         border-bottom-right-radius: 15px;

         transform-origin: top center;

         p {
            transform: translate(0, -50%);
         }

         &.run {
            opacity: 0;
            animation: flip-bottom 0.3s ease-in 0.3s 1 forwards;
            z-index: 2;
         }
      }
   }

   .title {
      color: var(--grayish-blue);
      text-align: center;
      font-size: 1rem;
      margin-top: 25px;
      letter-spacing: 5px;
      text-transform: uppercase;
   }
}

@keyframes flip-top {
   from {
      transform: perspective(500px) rotateX(0deg);
   }
   to {
      transform: perspective(500px) rotateX(-90deg);
   }
}

@keyframes flip-bottom {
   from {
      opacity: 1;
      transform: perspective(500px) rotateX(90deg);
   }
   to {
      opacity: 1;
      transform: perspective(500px) rotateX(0deg);
   }
}